@font-face {
	font-family: 'Sorts Mill Goudy';
	font-style: normal;
	font-weight: 400;
	src: local('OFL Sorts Mill Goudy'), url('../fonts/sortsmillgoudy-400.woff') format('woff')
}

@font-face {
	font-family: 'Sorts Mill Goudy';
	font-style: italic;
	font-weight: 400;
	src: local('OFL Sorts Mill Goudy Italic'), url('../fonts/sortsmillgoudy-400i.woff') format('woff')
}

html {
	background: #f9f9f9;
	font-size: 1em;
	margin-left: 1.6rem;
	margin-right: 1.6rem;
}

body {
	background: #f9f9f9;
	color: #333;
	font-family: "Sorts Mill Goudy", serif; /* 1 */
	-webkit-font-feature-settings: "onum";
	font-feature-settings: "onum";
	font-size: inherit;
	line-height: 1.6;
	margin-left: auto;
	margin-right: auto;
	max-width: 806px;
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
	word-wrap: break-word;
}

a {
	background: transparent url('../img/link-underline.png') repeat no-repeat 0 93%;
	background: transparent -webkit-linear-gradient(left, #333, #333) no-repeat 0 93%;
	background: transparent linear-gradient(90deg, #333, #333) no-repeat 0 93%;
	background-size: 100% 1px;
	color: inherit;
	outline-width: 0;
	text-decoration: none;
	-webkit-text-decoration-skip: objects; /* 2 */
	-webkit-transition: all .2s ease 0s;
	transition: all .2s ease 0s;
}

a:active,
a:hover,
a:focus,
.current-menu-itrem a {
	outline-width: 0;
	background-size: 0 1px;
}

a:focus {
	border-top: 1px dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	margin: 2.25rem 0 0;
}

h1,
.entry-title {
	font-size: 1.476rem;
	line-height: 2rem;
}

h2 {
	font-size: 1.383rem;
	line-height: 2rem;
}

h3 {
	font-size: 1.296rem;
	line-height: 1.8rem;
}

h4 {
	font-size: 1.215rem;
	line-height: 1.6rem;
}

h5 {
	font-size: 1.138rem;
	line-height: 1.4rem;
}

h6 {
	font-size: 1rem;
	line-height: 1.4rem;
}

h2 + h3 {
	margin-top: .8rem;
}

h3 + h4 {
	margin-top: .8rem;
}

h4 + h5 {
	margin-top: .8rem;
}

h5 + h6 {
	margin-top: .8rem;
}

p,
blockquote,
dl,
ol,
ul,
table,
figure {
	margin: .8rem 0 0;
	padding: 0;
}

b,
strong {
	-webkit-font-feature-settings: "smcp", "onum";
	font-feature-settings: "smcp", "onum";
	font-style: normal;
	font-weight: 400;
	letter-spacing: .06rem;
	text-transform: lowercase;
}

blockquote {
	margin-left: .375rem;
	padding-left: .8rem;
	position: relative;
}

blockquote::before {
	border: 1px solid #333;
	border-right: 0;
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: -.1rem;
	width: .2rem;
}

blockquote cite {
	display: block;
	margin-top: .375rem;
}

cite {
	-webkit-font-feature-settings: "smcp";
	font-feature-settings: "smcp";
	font-style: normal;
	letter-spacing: .06rem;
	text-transform: lowercase;
}

figure,
img {
	max-width: 100%;
	height: auto;
}

table {
	border-spacing: 0;
	width: 100%;
}

th {
	border-bottom: 2px solid;
	text-align: left;
	font-weight: normal;
}

td {
	border: 0;
	border-bottom: 1px solid;
	margin: 0;
}

tr:last-child td {
	border-bottom: 0;
}

td,
th {
	padding: .375rem;
}

dt,
th {
	letter-spacing: .06rem;
	text-transform: uppercase;
}

dd {
	margin-bottom: .8rem;
	margin-left: .8rem;
}

ul,
ol {
	padding-left: .8rem;
}

li {
	margin-top: .375rem;
}

li::before {
	content: "–";
	left: -.8rem;
	top: 0;
	position: absolute;
}

ul ul,
ol ol,
ol ul,
ul ol {
	margin: 0;
}

ul > li {
	list-style-type: none;
	position: relative;
}

::-webkit-input-placeholder {
	opacity: 1;
}

:-moz-placeholder { /* Firefox 18- */
	opacity: 1;
}

::-moz-placeholder { /* Firefox 19+ */
	opacity: 1;
}

:-ms-input-placeholder {
	opacity: 1;
}

label {
	display: block;
}

/**
 *remove the default vertical scrollbar in IE.
 */

textarea {
	overflow: auto;
	resize: vertical;
}

input:not([type=submit]),
textarea {
	background: none;
	border: 1px solid;
	padding: .375rem .375rem .1rem;
	width: 100%;
}

[type="submit"] {
	background: none;
	border: 1px solid;
	-webkit-font-feature-settings: "smcp";
	font-feature-settings: "smcp";
	letter-spacing: .06rem;
	margin-top: .375rem;
	padding: .2rem .375rem;
	text-transform: lowercase;
}

input:hover,
input:focus,
input:active,
textarea:hover,
textarea:focus,
textarea:active {
	border-left-width: 3px;
	outline: none !important;
	padding-left: calc(.375rem - 2px);
}

[type=submit]:hover,
[type=submit]:focus,
[type=submit]:active {
	border-right-width: 3px;
	padding-right: calc(.375rem - 2px);
}

.alignleft {
	display: block;
	float: left;
	margin-right: 1.125rem;
}

.alignright {
	display: block;
	float: right;
	margin-left: 1.125rem;
}

.aligncenter,
.alignnone {
	display: block;
	margin: 1.6rem 0;
}

.aligncenter {
	margin-left: auto;
	margin-right: auto;
}

.alignleft,
.alignright {
	margin-top: .4rem;
	margin-bottom: .8rem;
}

figure.alignleft,
figure.alignright {
	margin-top: 1.125rem;
}

.alignleft img,
.alignright img {
	margin: 0;
}

.wp-caption-dd {
	font-size: 1rem;
	font-style: italic;
	margin-top: .3rem;
}

.small-caps {
	-webkit-font-feature-settings: "smcp";
	font-feature-settings: "smcp";
	letter-spacing: .06rem;
	text-transform: lowercase;
}

.dropcap {
	float: left;
	-webkit-font-feature-settings: unset;
	font-feature-settings: unset;
	padding: 0px;
	font-size: 3.353em;
	height: 2.2802rem;
	line-height: .8em;
	margin-top: 0.45rem;
	text-transform: uppercase;
}

.side-note {
	font-style: italic;
	display: block;
}

@media screen and (min-width: 30rem) {
	.side-note {
		float: left;
		font-style: italic;
		display: block;
		margin-bottom: .8em;
		margin-right: 1.2em;
		max-width: 35%;
	}
}

@media screen and (min-width: 40rem) {
	html {
		font-size: 1.1em;
	}
}

@media screen and (min-width: 45rem) {
	html {
		font-size: 1.2em;
	}
}

@media screen and (min-width: 50rem) {
	html {
		font-size: 1.3em;
	}
}

@media screen and (min-width: 60rem) {
	.side-note {
		margin-left: -1.6rem;
		max-width: calc(35% + 1.6rem)
	}
}
