@import 'frontend';
.wp-block-cover .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
.wp-block-cover h2,
.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image .wp-block-cover-text,
.wp-block-cover-image h2 {
	font-size: inherit;
	line-height: inherit;
}

.wp-block-cover-text {
	margin-top: 0;
}
