.site-footer .widget {
	box-sizing: border-box;
	float: left;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 16.9rem;
	flex: 0 1 16.9rem;
	max-width: 16.9rem;
	padding: 0 1.2rem;
}

.site-footer {
	margin: 4.5rem auto 3.2rem;
	text-align: center;
	width: 85%;
}

.footer-nav-container {
	display: inline-block;
}

.footer-nav {
	margin-top: 0;
	text-align: left;
}

.site-footer-widget-area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: -.8rem;
	margin-right: -.8rem;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: left;
}

.theme-author {
	clear: both;
	color: #666;
	margin-top: 3.2rem;
	text-align: center;
	font-style: italic;
}
