.wp-block-columns {
	&.has-2-columns,
	&.has-3-columns,
	&.has-4-columns,
	&.has-5-columns,
	&.has-6-columns {
		@media screen and (min-width: 35em) {
			display: grid;
			grid-gap: #{$line-height}rem;
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&.has-3-columns,
	&.has-4-columns,
	&.has-5-columns,
	&.has-6-columns {
		@media screen and (min-width: 42em) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&.has-4-columns,
	&.has-5-columns,
	&.has-6-columns {
		@media screen and (min-width: 49em) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&.has-5-columns,
	&.has-6-columns {
		@media screen and (min-width: 70em) {
			grid-template-columns: repeat(5, 1fr);
		}
	}

	&.has-6-columns {
		@media screen and (min-width: 78em) {
			grid-template-columns: repeat(6, 1fr);
		}
	}
}
