.wp-block-separator + .wp-block-button {
	&.alignleft,
	&.alignright {
		margin-top: .5em;
	}
}

.wp-block-button {
	a {
		border-radius: .5em;
		background: $color-text;
		color: $color-white;
		display: inline-block;
		padding: #{$line-height / 4}em #{$line-height / 2}em #{$line-height / 5}em;

		&:hover,
		&:focus,
		&:active {
			background: transparent;
			color: $color-text;
		}
	}

	&.aligncenter {
		text-align: center;
	}

	&.alignleft,
	&.alignright {
		margin-top: 1.2em;
	}

	&.is-style-outline,
	&.is-style-squared {
		a {
			border-radius: 0;
		}
	}

	&.is-style-outline {
		a {
			background: none;
			border: 1px solid currentColor;
			color: $color-text;

			&:hover,
			&:focus,
			&:active {
				background: none;
				border-color: transparent;
			}
		}
	}
}
