.wp-block-pullquote {
	text-align: center;

	p {
		font-size: 1.296em;
	}

	blockquote {
		margin-right: #{$line-height / 2}rem;
		padding-right: #{$line-height / 2}rem;

		&::after {
			border: 1px solid #333;
			border-left: 0;
			content: '';
			height: 100%;
			right: 0;
			position: absolute;
			top: -.1rem;
			width: .2rem;
		}
	}

	&.alignleft,
	&.alignright {
		margin-top: .5rem;

		@media screen and (min-width: 35em) {
			max-width: 45%;
		}
	}

	&.alignleft {
		text-align: left;

		blockquote {
			margin-left: 0;
		}
	}

	&.alignright {
		text-align: right
	;
		blockquote {
			margin-right: 0;
		}
	}
}
