ul,
ol {
	padding-left: .8rem;

	@media screen and (min-width: 60em) {
		padding-left: 0;
	}
}

dl,
ol,
ul {
	margin: .8em 0 0;
	padding: 0;
}

li {
	margin-top: .375em;
}

ul ul,
ol ol,
ol ul,
ul ol {
	margin: 0;

	@media screen and (min-width: 30em) {
		padding-left: 1.6rem;
	}
}

ul > li {
	list-style-type: none;
	position: relative;

	&::before {
		content: "–";
		left: -.8rem;
		top: 0;
		position: absolute;
	}
}

dd {
	margin-bottom: .8em;
	margin-left: .8rem;

	@media screen and (min-width: 30em) {
		margin-left: 1.6rem;
	}
}

dt {
	letter-spacing: .06em;
	text-transform: uppercase;
}
